/.swiftpm/xcode/xcuserdata/amosegaard.xcuserdatad/xcschemes/xcschememanagement.plist
/.swiftpm/xcode/xcuserdata/amosegaard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/.swiftpm/xcode/package.xcworkspace/xcuserdata/amosegaard.xcuserdatad/UserInterfaceState.xcuserstate
